.App {
  height: 100vh;
  width: 100%;
}
.header {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #2a2f32;
  color: #fff;
  justify-content: space-between;
}

.headerWrapper {
  display: flex;
  align-items: center;
}

.headerWrapper > p {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: bold;
}
.profile_img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
}
.profile_img > img {
  height: 100%;
  width: 100%;
}
.exitIcon > i {
  font-size: 3rem;
  margin-right: 1rem;
  cursor: pointer;
}
.inputDiv {
  height: 80px;
  width: 100%;
  background-color: #2a2f32;
  padding: 0.5rem;
}
.inputDiv > form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.inputDiv > form > div:nth-child(1) {
  flex-basis: 90%;
  margin-right: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputDiv > form > div:nth-child(1) > label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputDiv > form > div:nth-child(1) > label > span {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #066162;
}
.inputDiv > form > div:nth-child(1) > textarea {
  width: 100%;
  height: 100%;
  background-color: #33383b;
  color: #fff;
  font-size: 1.3rem;
  padding: 5px;
}
.inputDiv > form > div:nth-child(1) > textarea:focus {
  border-color: burlywood;
}
.inputDiv > form > div:nth-child(2) {
  flex-basis: 10%;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.inputDiv > form > div:nth-child(2) > button {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  outline: None;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #066162;
}

.chat_area {
  height: calc(100vh - 160px);
  overflow-y: auto;
  background-image: url("https://wallpapercave.com/wp/wp5406324.jpg");
  background-position: center;
  background-size: cover;
}
.msg {
  width: 100%;
  margin: 10px 0;
  padding: 1rem;
  font-size: 1.3rem;
}
.msg > .incoming {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem;
  background-color: #33383b;
  color: #fff;
}
.incoming,
.outgoing {
  max-width: 80%;
  width: fit-content;
  word-break: break-word !important;
}
.incoming p:nth-child(1),
.outgoing p:nth-child(1) {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.8rem;
}

.incoming p:nth-child(2),
.outgoing p:nth-child(2) {
  font-size: 1.6rem;
}
.msg.right > .outgoing {
  text-align: right;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem;
  background-color: #066162;
  color: #fff;
}
.msg.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
.msg.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fas {
  color: #fff;
}
.link {
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: underline;
}
